.insert-video-inputs {
  margin-bottom: 1em;

  .desc {
    font-size: $font-down-1;
    color: $primary-medium;
    max-width: 350px;
    padding-top: 0.5em;
  }

  + .insert-video-inputs {
    border-top: 1px solid $primary-low;
    padding-top: 2em;
  }

  .value-list {
    max-width: 500px;
  }

  input {
    width: 100%;
    margin-top: 1em;
  }
}

.modal-inner-container {
  .insert-video-inputs .select-kit {
    width: 450px;
  }
}

.video-insert-error {
  color: $danger;
}
