<label class="btn {{if addDisabled 'disabled'}}">
  {{d-icon "upload"}}
  <input class="hidden-upload-field" disabled={{addDisabled}} type="file" accept="video/mp4,video/webm,video/mov">
</label>
{{conditional-loading-spinner condition=addDisabled}}
