<label class="btn {{if addDisabled "disabled"}}">
  {{d-icon "upload"}}
  <input class="hidden-upload-field" disabled={{addDisabled}} type="file" accept="text/vtt">
</label>
{{conditional-loading-spinner condition=addDisabled}}
